In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime

In [2]:
#importing the excel files
hiv1=pd.read_excel('/Users/mac/Desktop/DataScience/MKR-PROJECT/HIV_1 .xlsx')
hiv2=pd.read_excel('/Users/mac/Desktop/DataScience/MKR-PROJECT/HIV_2.xlsx')
hiv3=pd.read_excel('/Users/mac/Desktop/DataScience/MKR-PROJECT/HIV_03.xlsx')

In [3]:
hiv1.head()

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019       38 000 000
1  Global  2018        37 300 000
2  Global  2017        36 500 000
3  Global  2016        35 700 000
4  Global  2015       34 900 000

In [4]:
hiv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   REGION             210 non-null    object
 1   YEAR               210 non-null    int64
 2   PEOPLE HAVING HIV  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [5]:
hiv1.rename(columns={'REGION':'WHO region','YEAR':'Year'},inplace=True)

In [6]:
hiv1.head()

  WHO region  Year PEOPLE HAVING HIV
0     Global  2019       38 000 000
1     Global  2018        37 300 000
2     Global  2017        36 500 000
3     Global  2016        35 700 000
4     Global  2015       34 900 000

In [7]:
hiv1.isnull().sum()

WHO region           0
Year                 0
PEOPLE HAVING HIV    0
dtype: int64

In [8]:
hiv1['PEOPLE HAVING HIV']=hiv1['PEOPLE HAVING HIV'].str.replace(' ','')

In [9]:
hiv1.head()

  WHO region  Year PEOPLE HAVING HIV
0     Global  2019          38000000
1     Global  2018          37300000
2     Global  2017          36500000
3     Global  2016          35700000
4     Global  2015          34900000

In [10]:
hiv2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]

In [11]:
hiv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WHO region                        210 non-null    object
 1   Year                              210 non-null    int64
 2   Number of deaths due to HIV/AIDS  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [12]:
hiv2.isnull().sum()

WHO region                          0
Year                                0
Number of deaths due to HIV/AIDS    0
dtype: int64

In [13]:
hiv2['Number of deaths due to HIV/AIDS'] = hiv2['Number of deaths due to HIV/AIDS'].str.replace(r"\[.*\]","")

In [14]:
hiv2['Number of deaths due to HIV/AIDS']=hiv2['Number of deaths due to HIV/AIDS'].str.replace(' ','')

In [15]:
hiv2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                           690000
1     Global  2018                           730000
2     Global  2017                           760000
3     Global  2016                           800000
4     Global  2015                           830000

In [16]:
hiv2['WHO region'].unique()

array(['Global', 'Africa', 'Americas', 'South-East Asia', 'Europe',
       'Eastern Mediterranean', 'Western Pacific'], dtype=object)

In [17]:
hiv3.head()

,Unnamed: 0,Unnamed: 1,Number of new HIV infections,New HIV infections (per 1000 uninfected population),New HIV infections (per 1000 uninfected population).1,New HIV infections (per 1000 uninfected population).2
0,WHO region,Year,,Both sexes,Male,Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]

In [18]:
hiv3.rename(columns={'Unnamed: 0':'WHO region','Unnamed: 1':'Year',
                     'New HIV infections (per 1000 uninfected population)':'New HIV infections(per 1000 uninfected pop).(Both_sexes)',
                    'New HIV infections (per 1000 uninfected population).1':'New HIV infections(per 1000 uninfected pop).(Male)',
                    'New HIV infections (per 1000 uninfected population).2':'New HIV infections(per 1000 uninfected pop).(Female)'},inplace=True)

In [19]:
hiv3.head()

,WHO region,Year,Number of new HIV infections,New HIV infections(per 1000 uninfected pop).(Both_sexes),New HIV infections(per 1000 uninfected pop).(Male),New HIV infections(per 1000 uninfected pop).(Female)
0,WHO region,Year,,Both sexes,Male,Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]

In [20]:
hiv3.drop(0,axis=0,inplace=True)

In [21]:
hiv3.head()

,WHO region,Year,Number of new HIV infections,New HIV infections(per 1000 uninfected pop).(Both_sexes),New HIV infections(per 1000 uninfected pop).(Male),New HIV infections(per 1000 uninfected pop).(Female)
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
5,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35]

## Separating numbers outside from the brackets

In [22]:
hiv3['Number of new HIV infections'] = hiv3['Number of new HIV infections'].str.replace(r"\[.*\]","")
hiv3['Number of new HIV infections']=hiv3['Number of new HIV infections'].str.replace(' ','')

In [23]:
hiv3['New HIV infections(per 1000 uninfected pop).(Both_sexes)'] = hiv3['New HIV infections(per 1000 uninfected pop).(Both_sexes)'].str.replace(r"\[.*\]","")
hiv3['New HIV infections(per 1000 uninfected pop).(Both_sexes)']=hiv3['New HIV infections(per 1000 uninfected pop).(Both_sexes)'].str.replace(' ','')

In [24]:
hiv3['New HIV infections(per 1000 uninfected pop).(Male)'] = hiv3['New HIV infections(per 1000 uninfected pop).(Male)'].str.replace(r"\[.*\]","")
hiv3['New HIV infections(per 1000 uninfected pop).(Male)']=hiv3['New HIV infections(per 1000 uninfected pop).(Male)'].str.replace(' ','')

In [25]:
hiv3['New HIV infections(per 1000 uninfected pop).(Female)'] = hiv3['New HIV infections(per 1000 uninfected pop).(Female)'].str.replace(r"\[.*\]","")
hiv3['New HIV infections(per 1000 uninfected pop).(Female)']=hiv3['New HIV infections(per 1000 uninfected pop).(Female)'].str.replace(' ','')

In [26]:
hiv3.head()

,WHO region,Year,Number of new HIV infections,New HIV infections(per 1000 uninfected pop).(Both_sexes),New HIV infections(per 1000 uninfected pop).(Male),New HIV infections(per 1000 uninfected pop).(Female)
1,Global,2019,1700000,0.22,0.23,0.21
2,Global,2018,1700000,0.23,0.24,0.22
3,Global,2017,1800000,0.24,0.24,0.23
4,Global,2016,1800000,0.25,0.25,0.24
5,Global,2015,1900000,0.26,0.26,0.26

In [27]:
hiv1.head(3)

  WHO region  Year PEOPLE HAVING HIV
0     Global  2019          38000000
1     Global  2018          37300000
2     Global  2017          36500000

In [28]:
hiv2.head(3)

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                           690000
1     Global  2018                           730000
2     Global  2017                           760000

In [29]:
hiv3.head(3)

,WHO region,Year,Number of new HIV infections,New HIV infections(per 1000 uninfected pop).(Both_sexes),New HIV infections(per 1000 uninfected pop).(Male),New HIV infections(per 1000 uninfected pop).(Female)
1,Global,2019,1700000,0.22,0.23,0.21
2,Global,2018,1700000,0.23,0.24,0.22
3,Global,2017,1800000,0.24,0.24,0.23

## Merging the 3 datasets.

In [30]:
hiv = hiv3.merge(hiv2 ,on=['WHO region','Year'])

In [31]:
hiv_main_data=hiv.merge(hiv1 ,on=['WHO region','Year'])
hiv_main_data.head()

,WHO region,Year,Number of new HIV infections,New HIV infections(per 1000 uninfected pop).(Both_sexes),New HIV infections(per 1000 uninfected pop).(Male),New HIV infections(per 1000 uninfected pop).(Female),Number of deaths due to HIV/AIDS,PEOPLE HAVING HIV
0,Global,2019,1700000,0.22,0.23,0.21,690000,38000000
1,Global,2018,1700000,0.23,0.24,0.22,730000,37300000
2,Global,2017,1800000,0.24,0.24,0.23,760000,36500000
3,Global,2016,1800000,0.25,0.25,0.24,800000,35700000
4,Global,2015,1900000,0.26,0.26,0.26,830000,34900000

In [32]:
hiv_main_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 8 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   WHO region                                                210 non-null    object
 1   Year                                                      210 non-null    object
 2   Number of new HIV infections                              210 non-null    object
 3   New HIV infections(per 1000 uninfected pop).(Both_sexes)  210 non-null    object
 4   New HIV infections(per 1000 uninfected pop).(Male)        210 non-null    object
 5   New HIV infections(per 1000 uninfected pop).(Female)      210 non-null    object
 6   Number of deaths due to HIV/AIDS                          210 non-null    object
 7   PEOPLE HAVING HIV                                         210 non-null    object
dtypes: object(8)
memory usage: 14.8+ KB

## Converting the datatype of cols from object to int or float as per the requirement.

In [33]:
hiv_main_data['Number of new HIV infections']=hiv_main_data['Number of new HIV infections'].astype(int)

In [34]:
#separating 500 from &lt;500 in the col named Number of deaths due to HIV/AIDS.
hiv_main_data['Number of deaths due to HIV/AIDS']=hiv_main_data['Number of deaths due to HIV/AIDS'].str.extract(r'(\d+(?:\.\d+)?)', expand=False)
#converting data type from object to int
hiv_main_data['Number of deaths due to HIV/AIDS']=hiv_main_data['Number of deaths due to HIV/AIDS'].astype(int)

In [35]:
hiv_main_data['New HIV infections(per 1000 uninfected pop).(Male)']=hiv_main_data['New HIV infections(per 1000 uninfected pop).(Male)'].astype(float)

In [36]:
#separating 0.01 from &lt;0.01 in the col named Number of deaths due to HIV/AIDS.
hiv_main_data['New HIV infections(per 1000 uninfected pop).(Both_sexes)']=hiv_main_data['New HIV infections(per 1000 uninfected pop).(Both_sexes)'].str.extract(r'(\d+(?:\.\d+)?)', expand=False)
#converting data type from object to int
hiv_main_data['New HIV infections(per 1000 uninfected pop).(Both_sexes)']=hiv_main_data['New HIV infections(per 1000 uninfected pop).(Both_sexes)'].astype(float)

In [37]:
#separating 0.01 from &lt;0.01 in the col named Number of deaths due to HIV/AIDS.
hiv_main_data['New HIV infections(per 1000 uninfected pop).(Female)']=hiv_main_data['New HIV infections(per 1000 uninfected pop).(Female)'].str.extract(r'(\d+(?:\.\d+)?)', expand=False)
#converting data type from object to int
hiv_main_data['New HIV infections(per 1000 uninfected pop).(Female)']=hiv_main_data['New HIV infections(per 1000 uninfected pop).(Female)'].astype(float)

In [38]:
hiv_main_data['PEOPLE HAVING HIV']=hiv_main_data['PEOPLE HAVING HIV'].astype(int)

In [39]:
hiv_main_data['Year']=hiv_main_data['Year'].astype(int)

In [40]:
hiv_main_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 8 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   WHO region                                                210 non-null    object
 1   Year                                                      210 non-null    int64
 2   Number of new HIV infections                              210 non-null    int64
 3   New HIV infections(per 1000 uninfected pop).(Both_sexes)  210 non-null    float64
 4   New HIV infections(per 1000 uninfected pop).(Male)        210 non-null    float64
 5   New HIV infections(per 1000 uninfected pop).(Female)      210 non-null    float64
 6   Number of deaths due to HIV/AIDS                          210 non-null    int64
 7   PEOPLE HAVING HIV                                         210 non-null    int64
dtypes: float64(3), int64(4), object(1)
memory usage: 14.8+ KB

In [41]:
hiv_main_data.head()

,WHO region,Year,Number of new HIV infections,New HIV infections(per 1000 uninfected pop).(Both_sexes),New HIV infections(per 1000 uninfected pop).(Male),New HIV infections(per 1000 uninfected pop).(Female),Number of deaths due to HIV/AIDS,PEOPLE HAVING HIV
0,Global,2019,1700000,0.22,0.23,0.21,690000,38000000
1,Global,2018,1700000,0.23,0.24,0.22,730000,37300000
2,Global,2017,1800000,0.24,0.24,0.23,760000,36500000
3,Global,2016,1800000,0.25,0.25,0.24,800000,35700000
4,Global,2015,1900000,0.26,0.26,0.26,830000,34900000

In [42]:
hiv_data=hiv_main_data[hiv_main_data['WHO region']!='Global']

In [43]:
hiv_data.head()

,WHO region,Year,Number of new HIV infections,New HIV infections(per 1000 uninfected pop).(Both_sexes),New HIV infections(per 1000 uninfected pop).(Male),New HIV infections(per 1000 uninfected pop).(Female),Number of deaths due to HIV/AIDS,PEOPLE HAVING HIV
30,Africa,2019,970000,0.94,0.77,1.11,440000,25700000
31,Africa,2018,1000000,1.00,0.82,1.18,460000,25300000
32,Africa,2017,1100000,1.09,0.90,1.29,480000,24900000
33,Africa,2016,1100000,1.17,0.97,1.38,510000,24400000
34,Africa,2015,1200000,1.26,1.03,1.48,530000,23900000

In [44]:
#Exporting data to excel
hiv_main_data.to_excel('hiv.xlsx')