In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
location  = r"E:\MYLEARN\2-ANALYTICS-DataScience\datasets\shoes.csv"

In [9]:
# Read in data
data   = pd.read_csv(location, low_memory=False)
data.shape

(33801, 52)

In [10]:
data.dtypes.value_counts()

object     35
float64    16
bool        1
dtype: int64

In [11]:
col_unique_data = [(col, len(data[col].unique())) for col in data.columns]
col_unique_data = pd.DataFrame(col_unique_data, columns=['column', 'unique_len'])
col_unique_data.sort_values('unique_len')

                 column  unique_len
25         prices.count           1
49          Unnamed: 49           1
48          Unnamed: 48           1
46           websiteIDs           1
45                  vin           1
5                 count           1
38      prices.warranty           1
36        prices.source           1
29        prices.flavor           1
50          Unnamed: 50           1
14                 isbn           1
12              flavors           1
30        prices.isSale           2
51          Unnamed: 51           2
26      prices.currency           5
22  prices.availability           7
33  prices.returnPolicy           8
24     prices.condition          11
47               weight          70
9             dimension         101
35          prices.size         112
34      prices.shipping         118
31      prices.merchant         290
40              reviews         597
16         manufacturer         794
3            categories         894
41                sizes        1042
1                 asins        1246
32         prices.offer        1256
2                 brand        1361
10                  ean        1689
44                  upc        1799
23         prices.color        2058
4                colors        2066
39           quantities        2312
21     prices.amountMax        3414
20     prices.amountMin        3541
42                 skus        3809
18            merchants        4890
28      prices.dateSeen        5097
7           dateUpdated        6506
6             dateAdded        7006
8          descriptions        7187
13            imageURLs        7501
11             features        7568
17   manufacturerNumber        7605
27     prices.dateAdded        7806
19                 name        9494
15                 keys        9980
43           sourceURLs        9993
0                    id        9996
37    prices.sourceURLs       12856